In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./State_MedianRentalPrice_AllHomes.csv')

In [5]:
states = df['RegionName']

In [41]:
ten = df.filter(regex='2010|RegionName', axis=1)
eleven = df.filter(regex='2011|RegionName', axis=1)
twelve = df.filter(regex='2012|RegionName', axis=1)
thirteen = df.filter(regex='2013|RegionName', axis=1)
fourteen = df.filter(regex='2014|RegionName', axis=1)
fifteen = df.filter(regex='2015|RegionName', axis=1)
sixteen = df.filter(regex='2016|RegionName', axis=1)
seventeen = df.filter(regex='2017|RegionName', axis=1)
eighteen = df.filter(regex='2018|RegionName', axis=1)
nineteen = df.filter(regex='2019|RegionName', axis=1)

ten_mean = ten.mean(1)
eleven_mean = eleven.mean(1)
twelve_mean = twelve.mean(1)
thirteen_mean = thirteen.mean(1)
fourteen_mean = fourteen.mean(1)
fifteen_mean = fifteen.mean(1)
sixteen_mean = sixteen.mean(1)
seventeen_mean = seventeen.mean(1)
eighteen_mean = eighteen.mean(1)
nineteen_mean = nineteen.mean(1)

all_years_means = []
all_years_means.append(pd.concat([states, ten_mean], axis=1, join_axes=[states.index]))
all_years_means.append(pd.concat([states, eleven_mean], axis=1, join_axes=[states.index]))
all_years_means.append(pd.concat([states, twelve_mean], axis=1, join_axes=[states.index]))
all_years_means.append(pd.concat([states, thirteen_mean], axis=1, join_axes=[states.index]))
all_years_means.append(pd.concat([states, fourteen_mean], axis=1, join_axes=[states.index]))
all_years_means.append(pd.concat([states, fifteen_mean], axis=1, join_axes=[states.index]))
all_years_means.append(pd.concat([states, sixteen_mean], axis=1, join_axes=[states.index]))
all_years_means.append(pd.concat([states, seventeen_mean], axis=1, join_axes=[states.index]))
all_years_means.append(pd.concat([states, eighteen_mean], axis=1, join_axes=[states.index]))
all_years_means.append(pd.concat([states, nineteen_mean], axis=1, join_axes=[states.index]))

In [68]:
year = 2010
i = 0
while year < 2020:
    df = all_years_means[i]
    df.columns = ['States', str(year)]
    year = year + 1
    i = i + 1

In [72]:
meanOfMedianRentsByYear_df = states
year = 2010
for item in all_years_means:
    meanOfMedianRentsByYear_df = pd.concat([meanOfMedianRentsByYear_df,
                                            item[str(year)]], axis=1,
                                           join_axes=[meanOfMedianRentsByYear_df.index])
    year = year + 1

In [74]:
meanOfMedianRentsByYear_df

,RegionName,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,California,2439.300000,2026.250000,1797.333333,1788.666667,1992.916667,2232.916667,2373.750000,2602.916667,2725.416667,2770.0
1,Texas,NaN,NaN,1200.000000,1165.916667,1327.083333,1407.916667,1413.125000,1487.916667,1525.333333,1544.0
2,New York,NaN,3009.750000,2722.916667,2853.750000,2948.583333,3107.500000,3082.666667,3207.333333,3204.500000,3269.8
3,Florida,NaN,1411.363636,1422.500000,1518.250000,1572.500000,1642.916667,1672.250000,1731.500000,1799.583333,1830.0
4,Illinois,1529.416667,1554.250000,1515.416667,1527.666667,1563.916667,1587.000000,1578.541667,1586.166667,1602.500000,1580.0
5,Pennsylvania,1412.500000,1325.416667,1253.333333,1256.250000,1282.500000,1333.333333,1320.625000,1335.833333,1334.916667,1364.0
6,Ohio,1155.000000,957.750000,872.500000,860.541667,941.875000,1000.666667,1034.791667,1020.750000,1059.583333,1075.0
7,Michigan,1181.818182,993.750000,848.333333,862.500000,908.666667,955.416667,1015.541667,1065.833333,1119.333333,1145.0
8,Georgia,1179.375000,1108.000000,1032.916667,1038.333333,1085.416667,1146.500000,1197.916667,1295.666667,1356.083333,1404.0
9,North Carolina,1088.181818,1017.750000,1013.250000,1030.416667,1064.166667,1097.833333,1144.583333,1244.166667,1302.416667,1359.0
10,New Jersey,1647.045455,1752.083333,1890.000000,1803.750000,1802.916667,1856.666667,1870.416667,1912.916667,1932.916667,2004.0
11,Virginia,1388.181818,1430.000000,1426.666667,1490.333333,1554.166667,1590.833333,1594.583333,1610.000000,1664.333333,1694.0
12,Washington,1402.500000,1394.166667,1328.333333,1385.416667,1479.916667,1567.791667,1673.500000,1916.666667,2002.083333,2004.0
13,Massachusetts,1650.750000,1810.625000,1977.500000,2182.500000,2295.916667,2426.583333,2464.166667,2522.750000,2550.000000,2644.0
14,Indiana,1204.090909,891.416667,823.666667,854.000000,944.166667,980.833333,990.166667,1042.000000,1072.083333,1067.5
15,Arizona,1281.700000,1125.416667,1097.916667,1094.541667,1151.250000,1223.750000,1251.583333,1336.416667,1427.083333,1491.2
16,Tennessee,1208.750000,1106.458333,1072.500000,1022.916667,1084.583333,1113.125000,1170.416667,1259.583333,1298.750000,1328.0
17,Missouri,1095.227273,960.000000,916.666667,859.583333,887.083333,894.583333,923.958333,943.750000,986.166667,994.0
18,Maryland,1651.363636,1631.375000,1561.416667,1603.125000,1680.416667,1702.916667,1694.833333,1698.333333,1716.166667,1710.0
19,Wisconsin,1033.166667,1140.583333,1184.125000,1102.041667,1139.166667,1124.041667,1132.833333,1186.041667,1193.291667,1220.0
20,Minnesota,1511.944444,1337.916667,1310.333333,1338.250000,1395.416667,1406.666667,1414.583333,1484.500000,1570.166667,1604.0
21,Colorado,NaN,1277.777778,1276.875000,1318.333333,1419.583333,1624.583333,1702.500000,1795.416667,1887.125000,1948.6
22,Alabama,1032.500000,981.041667,881.500000,867.083333,916.666667,939.583333,974.166667,997.500000,1015.208333,1048.0
23,South Carolina,1156.250000,1085.208333,1090.833333,1126.250000,1176.458333,1216.875000,1239.166667,1304.416667,1348.416667,1360.0
24,Louisiana,1194.090909,1222.458333,1182.291667,1151.666667,1187.083333,1232.083333,1224.583333,1255.625000,1241.416667,1237.0
25,Kentucky,1117.500000,945.000000,876.250000,872.666667,943.333333,987.416667,1001.750000,1065.958333,1107.875000,1123.4
26,Oregon,NaN,1173.333333,1193.666667,1209.583333,1335.833333,1462.500000,1577.208333,1728.333333,1746.458333,1743.0
27,Oklahoma,1012.500000,909.583333,897.916667,927.500000,1079.166667,1114.166667,1046.666667,1032.041667,1010.000000,1037.0
28,Connecticut,1796.818182,1866.666667,1641.666667,1616.666667,1726.666667,1741.666667,1712.083333,1747.500000,1758.333333,1785.0
29,Iowa,NaN,1084.375000,964.583333,956.041667,998.333333,1050.750000,1070.833333,1074.166667,1079.916667,1075.0
30,Mississippi,850.000000,902.083333,896.666667,888.541667,945.208333,1007.708333,1029.166667,1090.833333,1136.583333,1184.0
31,Arkansas,872.045455,872.083333,881.666667,916.666667,970.000000,998.250000,1016.458333,1044.583333,1061.250000,1070.0
32,Kansas,NaN,924.958333,998.500000,1003.208333,1045.833333,1076.250000,1067.500000,1071.875000,1086.000000,1098.0
33,Utah,NaN,1159.888889,1121.458333,1192.833333,1209.083333,1231.458333,1273.750000,1381.750000,1478.333333,1508.0
34,Nevada,1235.750000,1175.000000,1099.916667,1122.916667,1182.500000,1237.500000,1259.916667,1347.083333,1453.750000,1525.0
35,New Mexico,1167.500000,1147.916667,1094.583333,1101.250000,1112.500000,1122.916667,1143.333333,1182.083333,1206.916667,1228.0
36,West Virginia,NaN,1170.312500,1103.166667,1057.958333,1083.958333,1080.833333,1049.666667,987.083333,983.958333,998.5
37,Nebraska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1227.500000,1246.041667,1258.0
38,Idaho,NaN,874.000000,874.791667,886.875000,960.416667,998.333333,1042.375000,1187.083333,1314.166667,1359.8
39,Hawaii,NaN,1896.590909,1964.375000,2054.166667,2113.416667,2364.166667,2312.500000,2325.625000,2325.000000,2330.0
40,Maine,NaN,NaN,NaN,NaN,1345.000000,1475.000000,1444.791667,1682.916667,1762.291667,1745.0
41,New Hampshire,1367.045455,1333.333333,1354.166667,1377.416667,1423.958333,1465.625000,1530.000000,1609.791667,1711.250000,1730.0
42,Rhode Island,NaN,1540.000000,1600.000000,1495.416667,1628.958333,1741.666667,1758.333333,1904.166667,1995.416667,2060.0
43,Montana,NaN,972.000000,937.083333,968.625000,981.458333,1035.416667,1092.500000,1179.791667,1240.625000,1280.7
44,Delaware,1297.500000,1264.541667,1214.583333,1265.166667,1258.250000,1301.666667,1312.500000,1320.833333,1378.333333,1379.0
45,South Dakota,NaN,NaN,NaN,946.000000,915.208333,1032.708333,1043.333333,1118.333333,1108.958333,1107.0
46,Alaska,NaN,1568.636364,1527.916667,1555.625000,1619.791667,1685.833333,1647.083333,1590.416667,1654.375000,1648.0
47,North Dakota,NaN,NaN,NaN,NaN,NaN,1479.642857,1262.291667,1222.083333,1269.375000,1319.0
48,Vermont,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2032.500000,1864.083333,1797.5
49,District of Columbia,2139.150000,2401.250000,2394.875000,2452.041667,2458.666667,2510.416667,2541.875000,2606.666667,2615.208333,2635.2
50,Wyoming,NaN,NaN,NaN,NaN,1185.000000,1210.000000,1118.125000,1071.875000,1070.000000,1104.0

In [75]:
def WriteToExcel():
    with pd.ExcelWriter('mean_of_median_rent_by_year.xlsx') as writer:
        meanOfMedianRentsByYear_df.to_excel(writer, sheet_name='Mean of Median Rents By Year And State')
#         ten.to_excel(writer, sheet_name='2010')
#         eleven.to_excel(writer, sheet_name='2011')
#         twelve.to_excel(writer, sheet_name='2012')
#         thirteen.to_excel(writer, sheet_name='2013')
#         fourteen.to_excel(writer, sheet_name='2014')
#         fifteen.to_excel(writer, sheet_name='2015')
#         sixteen.to_excel(writer, sheet_name='2016')
#         seventeen.to_excel(writer, sheet_name='2017')
#         eighteen.to_excel(writer, sheet_name='2018')
#         nineteen.to_excel(writer, sheet_name='2019')

In [76]:
WriteToExcel()

/home/austin/miniconda3/lib/python3.7/site-packages/openpyxl/workbook/child.py:102: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")